<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tester.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Тестер</title>
</head>
<body>
    <div class="wrapper">
        <div id="tester">
            <div class="tester_header">
                <select name="" id="">
                    <option value="Билет 1">Билет 1</option>
                    <option value="Билет 2">Билет 2</option>
                </select>
                <h2 class="tester_theme">{{ ticket[0].theme }}</h2>
            </div>
            <div class="tester_nav">
                <div v-for="(task, index) in ticket" v-bind:class="[current_task_index == index ? 'active' : '', task.state]" v-on:click="taskChanger(index)">{{ index+1 }}</div>
            </div>

            <div class="tester_question">{{ ticket[current_task_index].question }}</div>
            <div class="tester_answers">
                <div v-for="(answer, index) in ticket[current_task_index].answers" 
                    class="tester_answer"
                    v-bind:class="answer.state"
                    v-on:click="chooser(answer)">
                    {{ answer.value }}
                </div>
            </div>

        </div>
    </div>
    <script src="js/vue-tester.js"></script>
</body>
</html>